/*--------------------------BURGER------------------------*/

.burger {
    display: none;
    width: 30px;
    height: 22px;
    cursor: pointer;
    position: relative;
}

.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
    position: absolute;
    transition: 0.3s all linear;
}

.burger-line-second {
    top: 50%;
    transform: translateY(-50%);
}

.burger-line-third {
    top: 100%;
    transform: translateY(-50%);
}

.burger--active .burger-line-first {
    transform: translateX(-10px) translateY(11px) rotate(90deg);
}

.burger--active .burger-line-second {
    transform: rotate(90deg);
}

.burger--active .burger-line-third {
    transform: translateX(10px) translateY(-11px) rotate(90deg);
}

.sticky-container.burger--active {
    position: static;
}

.header-logo--burger {
    display: none;
}

@media (max-width: 767.98px) {
    .burger {
        z-index: 10;
    }

    .header-logo--burger {
        display: inline-block;
        position: relative;
        transform: translate(10px, 30px);
    }

    .body-burger {
        overflow: hidden;
    }

    .body-burger::before {
        display: block;
        content: "";
        background: #29292999;
        position: absolute;
        width: 100vh;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 2;
        opacity: 65%;
    }

    .menu {
        position: fixed;
        width: 320px;
        top: 0;
        right: -999px;
        z-index: 3;
        overflow: auto;
        background: #292929;
        transition: right 0.4s ease-out;
    }

    .burger {
        display: block;
        margin-right: 43px;
    }

    .menu.menu--burger{
        right: 0;
    }

    .menu__list{
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 0;
        margin:0 38px 0 39px;

    }

    .menu__item + .menu__item{
        margin: 0;
    }

    .menu__link{
        font-size: 32px;
        line-height: 51px;
    }
}