@font-face {
    font-family: Georgia;
    src:
    url('../../assets/fonts/subset-Georgia-Bold.woff2') format('woff2'),
    url('../../assets/fonts/subset-Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Arial;
    src:
    url('../../assets/fonts/subset-ArialMT.woff2') format('woff2'),
    url('../../assets/fonts/subset-ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Georgia;
    src:
    url('../../assets/fonts/subset-Georgia.woff2') format('woff2'),
    url('../../assets/fonts/subset-Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Arial;
    src:
    url('../../assets/fonts/subset-Arial-ItalicMT.woff2') format('woff2'),
    url('../../assets/fonts/subset-Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Georgia;
    src:
    url('../../assets/fonts/subset-Georgia-Italic.woff2') format('woff2'),
    url('../../assets/fonts/subset-Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html,
body {
    font: 400 15px/24px Georgia, serif;
    color: #4C4C4C;
    background: #ffffff;
    scroll-behavior: smooth
}

h3 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #545454;
}

@media (max-width: 767.9px) {
    h3 {
        font-size: 25px;
        line-height: 32px;
    }
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.icon {
    flex: 0 0 auto;
}

.icon.icon--30-23 {
    width: 30px;
    height: 23px;
}
.icon.icon--40-26 {
    width: 40px;
    height: 26px;
}
.icon.icon--40-32 {
    width: 40px;
    height: 32px;
}
.icon.icon--22-32 {
    width: 22px;
    height: 32px;
}
.icon--mail {
    margin: 3px 0;
}

.btn {
    font-size: 17px;
    line-height: 22px;
    color: #292929;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 15px 45px;
    background-color: #F1CDB3;
    border-radius: 100px;
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #FDDCC4;
}

.container {
    max-width: 1280px;
    padding: 0 40px;
    margin: auto;
}

@media (max-width: 1279.9px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 767.9px) {
    .container {
        padding: 0 10px;
    }
}

/*---------------------SLIDER------------------*/
.slider-card {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 9px;
    transition: all 0.3s ease;
    background-color: #FAFAFA;
    overflow: hidden;
    flex: 0 0 auto;
}

.slider-card__title {
    font-size: 20px;
    line-height: 23px;
    color: #545454;
    letter-spacing: 0.06em;
    text-align: center;
}

.slider-card__img {
    flex-basis: 270px;
}

.btn--light {
    background-color: #FAFAFA;
    padding: 13px 43px;
    border: 2px solid #F1CDB3;
}

.slider-card .btn--light {
    margin-bottom: 30px;
}

.slider-card:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
    background-color: #FFFFFF;
}

.btn--light:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.slider-card:hover .btn--light {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

/*--------------------FOOTER-------------------*/
.bg-container-footer {
    background:  url("../../assets/images/noise.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.footer-textbox {
    flex: 0 1 23.2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0 60px;
}

.footer-textbox__center {
    flex: 0 1 25.167%;
}

.footer-textbox__title {
    color: #FFFFFF;
}

.footer-textbox__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.footer-textbox__text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer-img {
    display: block;
    grid-area: img;
    align-self: flex-end;
}

@media (max-width: 1279.9px) {
    .footer {
        display: grid;
        grid-template: "contacts address" "img img" / 279px 302px;
        gap: 65px 60px;
        justify-content: center;
        padding: 30px 34px 0;
    }

    .footer-textbox {
        grid-area: contacts;
        padding: 0;
        gap: 40px;
    }

    .footer-textbox__center {
        grid-area: address;
        gap: 33px;
    }

    .footer-img {
        justify-self: center;
    }
}

@media (max-width: 767.9px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        padding: 30px 0 0;
    }
    .footer-textbox {
        max-width: 300px;
        align-items: center;
    }

    .footer-textbox__center {
        gap: 40px;
        align-items: unset;
    }

    .footer-textbox__title {
        text-align: center;
        align-self: center;
        max-width: 270px;
    }

    .footer-img {
        max-width: calc(100% - 40px);
        align-self: center;
    }
}

/*-------------------------MODAL--------------------------*/
.modal-outer {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.modal-outer.modal-outer--visible {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 54px;
    overflow: auto;
}

.modal-outer--visible:hover .modal-container:not(:hover) .modal-close-btn{
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.modal-outer.modal-outer--visible::before {
    content: "";
    background: #292929;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 60%;
}

.modal-body {
    overflow: hidden;
}

.modal-container {
    position: relative;
    max-width: 900px;
    max-height: 100%;
}

.modal-close-btn {
    display: block;
    width: 52px;
    height: 52px;
    background: url("../../assets/icons/modal-close.svg") center no-repeat;
    border: 2px #F1CDB3 solid;
    border-radius: 50%;
    position: absolute;
    top: -52px;
    right: -42px;
    transition: 0.3s ease;
   /* background-color: #7b7b7b;*/
}

.modal-close-btn:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.modal {
    display: flex;
    background:  #FAFAFA;
    border-radius: 9px;
    overflow: hidden;
    z-index: 10;
    cursor: auto;
}

.modal__img {
    display: block;
    width: 500px;
    flex: 0 0 auto;
}

.modal-textbox {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 20px 29px;
    overflow: auto;
}


.modal-textbox div,
.modal-textbox h3,
.modal-textbox ul {
    color: #000000;
}

.modal-textbox__subtitle {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin-top: 10px;
}

.modal-textbox__description {
    line-height: 17px;
    letter-spacing: 0.06em;
    margin-top: 40px;
}

.modal-list {
    list-style: none;
    line-height: 17px;
    letter-spacing: 0.06em;
    margin: 40px 0 0;
    padding: 0;
}

.modal-list li + li {
    padding-top: 10px;
}

.modal-list li::before {
    content: "\2022";
    display: inline-block;
    color: #F1CDB3;
    margin: 0 10px 0 0;
}

@media (max-width: 1279.9px) {
    .modal-container {
        width: 630px;
    }

    .modal__img {
        max-width: 350px;
    }

    .modal-textbox {
        padding: 10px 8px 9px 11px;
    }

    .modal-textbox__description {
        font-size: 13px;
        line-height: 14px;
        margin-top: 20px;
    }

    .modal-list {
        margin-top: 20px;
    }

    .modal-list li + li {
        padding-top: 5px;
    }
}

@media (max-width: 767.9px) {

    .modal-container {
        width: 240px;
    }

    .modal-close-btn {
        right: -32px;
    }

    .modal__img {
        display: none;
    }

    .modal-textbox {
        padding: 10px;
    }

    .modal-textbox__title {
        text-align: center;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 0.06em;
    }

    .modal-textbox__subtitle {
        text-align: center;
     }

    .modal-textbox__description {
        text-align: justify;
    }

    .modal-list {
        margin-top: 24px;
    }
}
