@font-face {
    font-family: Georgia;
    src:
    url('../../assets/fonts/subset-Georgia-Bold.woff2') format('woff2'),
    url('../../assets/fonts/subset-Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Arial;
    src:
    url('../../assets/fonts/subset-ArialMT.woff2') format('woff2'),
    url('../../assets/fonts/subset-ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Georgia;
    src:
    url('../../assets/fonts/subset-Georgia.woff2') format('woff2'),
    url('../../assets/fonts/subset-Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Arial;
    src:
    url('../../assets/fonts/subset-Arial-ItalicMT.woff2') format('woff2'),
    url('../../assets/fonts/subset-Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Georgia;
    src:
    url('../../assets/fonts/subset-Georgia-Italic.woff2') format('woff2'),
    url('../../assets/fonts/subset-Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

.icon {
    flex: 0 0 auto;
}

.icon.icon--30-23 {
    width: 30px;
    height: 23px;
}
.icon.icon--40-26 {
    width: 40px;
    height: 26px;
}
.icon.icon--40-32 {
    width: 40px;
    height: 32px;
}
.icon.icon--22-32 {
    width: 22px;
    height: 32px;
}
.icon--mail {
    margin: 3px 0;
}

.btn {
    font-size: 17px;
    line-height: 22px;
    color: #292929;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 15px 45px;
    background-color: #F1CDB3;
    border-radius: 100px;
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.btn--light {
    background-color: #FFFFFF;
    padding: 13px 43px;
    border: 2px solid #F1CDB3;
}

.btn:hover {
    background-color: #FDDCC4;
}

.btn--light:hover {
    background-color: #F1CDB3;
}

.container {
    max-width: 1280px;
    padding: 0 40px;
    margin: auto;
}

@media (max-width: 1279.98px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 767.98px) {
    .container {
        padding: 0 10px;
    }
}
/*--------------------FOOTER-------------------*/
.bg-container-footer {
    background:  url("../../assets/images/noise.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.footer-textbox {
    flex: 0 1 23.2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0 60px;
}

.footer-textbox__center {
    flex: 0 1 25.167%;
}

.footer-textbox__title {
    color: #FFFFFF;
}

.footer-textbox__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.footer-textbox__text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer-img {
    display: block;
    grid-area: img;
    align-self: flex-end;
}

@media (max-width: 1279.98px) {
    .footer {
        display: grid;
        grid-template: "contacts address" "img img" / 279px 302px;
        gap: 65px 60px;
        justify-content: center;
        padding: 30px 34px 0;
    }

    .footer-textbox {
        grid-area: contacts;
        padding: 0;
        gap: 40px;
    }

    .footer-textbox__center {
        grid-area: address;
        gap: 33px;
    }

    .footer-img {
        justify-self: center;
    }
}

@media (max-width: 767.98px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        padding: 30px 0 0;
    }
    .footer-textbox {
        max-width: 300px;
        align-items: center;
    }

    .footer-textbox__center {
        gap: 40px;
        align-items: unset;
    }

    .footer-textbox__title {
        text-align: center;
        align-self: center;
        max-width: 270px;
    }

    .footer-img {
        max-width: 100%;
        padding: 0 20px;
        align-self: center;
    }
}