

/*------------------HEADER---------------------*/
.bg-container {
    background: url("../../assets/images/noise.png"), radial-gradient(40% 140% at 20% 0%, #5B483A 10%, #262425 100%), #211F20;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.header-logo {
    display: block;
    line-height: 0;
}

.header-logo__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding: 0;
}

.header-logo__subtitle {
    font: 13px/15px Arial, sans-serif;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 4px;
}

.menu__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 2px 2px 0;
}

.menu__item +.menu__item {
    margin-left: 35px;
}

.menu__link {
    display: block;
    font: 15px/24px Arial, sans-serif;
    color: #CDCDCD;
    text-decoration: none;
    transition: all 0.2s ease;
}

.menu__link--selected {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.menu__link:hover {
    color: #FAFAFA;
}

@media (max-width: 1279.9px) {
    .header__top {
        padding-top: 30px;
    }
}

/*-----------------NOT ONLY-------------------*/
.not-only {
    display: flex;
    padding-top: 60px;
}

.not-only__textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 163px;
}
.not-only__textbox-title {
    font-size: 44px;
    line-height: 57px;
    color: #FFFFFF;
}

.not-only__textbox-subtitle {
    font: 15px/24px Arial, sans-serif;
    color: #CDCDCD;
    margin-top: 42px;
}

.not-only .btn {
    margin: 42px 0 0;
}

.not-only__img-container {
    margin-left: 42px;
    align-self: flex-end;
}

.not-only__img {
    display: block;
}

@media (max-width: 1279.9px) {
    .not-only {
        flex-direction: column;
        gap: 100px;
        justify-content: flex-end;
        align-items: center;
    }

    .not-only__textbox {
        max-width: 460px;
        padding: 0;
    }

    .not-only .btn {
        margin: 42px 0 0;
        align-self: center;
    }

    .not-only__img-container {
        max-width: 569px;   /*--------*/
        margin: 0;
    }

    .not-only__img {
        max-width: 100%;
    }
}

@media (max-width: 767.9px) {
    .not-only {
        gap: 105px;
    }

    .not-only__textbox {
        margin: 0;
        align-items: center;
    }

    .not-only__textbox-title {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.06em;
    }
    
    .not-only__textbox-subtitle {
        text-align: center;
    }

    .not-only__img-container {
        margin-left: 40px;
    }
}

/*-------------------ABOUT--------------------*/
.about {
    padding: 80px 0 100px;
}

.about-flex {
    display: flex;
    max-width: 850px;
    margin: 0 auto;
    align-items: center;
    gap: 120px;
}

.about-textbox__subtitle {
    font: 15px/24px Arial, sans-serif;
    padding-top: 25px;
}

.about__img {
    display: block;
}

@media (max-width: 1279.9px) {
    .about-flex {
        max-width: 430px;
        flex-direction: column-reverse;
        gap: 80px;
    }

    .about__img-container {
        max-width: 300px;
    }

    .about__img {
        max-width: 100%;
    }
}

@media (max-width: 767.9px) {
    .about {
        padding: 42px 0;
    }

    .about-flex {
        max-width: 270px;
        gap: 42px;
    }

    .about-textbox__title {
        text-align: center;
        padding-bottom: 3px;
    }

    .about-textbox__subtitle {
        text-align: justify;
        padding-top: 22px;
    }

    .about__img-container {
        max-width: 260px;
    }
}
/*-------------------OUR FRIENDS--------------------*/
.our-friends {
    background-color: #F6F6F6;
    padding: 80px 0 100px;
}
.our-friends-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.our-friends__title {
    text-align: center;
}

@media (max-width: 767.9px) {
    .our-friends {
        padding: 42px 0;
    }
}

/*-------------------SLIDER---------------------------*/
.our-friends__slider {
    display: flex;
    align-items: center;
}

.slider-btn {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.slider-btn:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
    cursor: pointer;
}

.slider__btn-left {
    background: url("../../assets/icons/slider-arrow-left.svg") center no-repeat;
    grid-area: btn-left;
    justify-self: end;
}
.slider__btn-right {
    background: url("../../assets/icons/slider-arrow-right.svg") center no-repeat;
    grid-area: btn-right;
    justify-self: start;
}

.slider-cards {
    overflow: hidden;
    padding: 0 13px;
    grid-area: card;
}

.slider-cards__container {
    display: flex;
    width: 1070px;
    position: relative;
    right: 1125px;
    gap: 55px;
}

.slider-cards__left, .slider-cards__active, .slider-cards__right {
    display: flex;
    gap: 90px;
    padding: 40px;
}

@keyframes move-right {
    from {right: 1125px}
    to {right: 2250px}
}

.transition-right {
    animation: 1s move-right;
}

@keyframes move-left {
    from {right: 1125px}
    to {right: 0}
}

.transition-left {
    animation: 1s move-left;
}

@media (max-width: 1279.9px) {
    .slider-cards {
        padding: 0 12px;
    }

    .slider-cards__container {
        width: 580px;
        gap: 40px;
        right: 620px;
        padding: 40px 0;
    }

    .slider-cards__left, .slider-cards__active, .slider-cards__right {
        gap: 40px;
        padding: 0;
    }

    .slider-card:hover {
        box-shadow: 0 2px 8px 8px rgba(13, 13, 13, 0.04);
    }

    @keyframes move-right {
        from {right: 620px}
        to {right: 1240px}
    }

    @keyframes move-left {
        from {right: 620px}
        to {right: 0}
    }
}

@media (max-width: 767.9px) {
    .our-friends-flex {
        gap: 42px;
    }

    .our-friends__slider {
        display: grid;
        grid: "card card" "btn-left btn-right" / auto;
        justify-items: center;
        gap: 20px 80px;
    }

    .slider-cards__container {
        width: 270px;
        padding: 0;
        gap: 0;
        right: 270px;
    }

    .slider-cards {
        padding: 0;
    }

    @keyframes move-right {
        from {right: 270px}
        to {right: 540px}
    }

    @keyframes move-left {
        from {right: 270px}
        to {right: 0}
    }
}
/*-----------------------HELP------------------------*/
.help {
    padding: 80px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help__title {
    margin-bottom: 60px;
    text-align: center;
}
.help-content {
    display: flex;
    flex-wrap: wrap;
    gap: 55px 120px;
    align-items: flex-end;
    justify-content: center;
}

.help-content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-content__img {
    display: block;
}

.help-content__text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    padding-top: 30px;
}

@media (max-width: 1279.9px) {
    .help-content {
        display: grid;
        grid-template-columns: repeat(3, 170px);
        grid-template-rows: repeat(3, 1fr);
        gap: 55px 60px;
    }
}

@media (max-width: 767.9px) {
    .help {
        padding: 42px 0;
    }

    .help-content {
        grid-template-columns: repeat(2, 130px);
        grid-template-rows: repeat(5, auto);
        gap: 30px;
        align-items: center;
    }

    .help__title {
        margin-bottom: 42px;
    }

    .help-content__img {
        max-width: 50px;
    }

    .help-content__text {
        font-size: 15px;
        line-height: 17px;
        padding-top: 20px;
    }
}

/*-----------------DONATION-----------------------*/
.donation {
    padding: 82px 0 100px;              /*!!!!*/
    background-color: #F6F6F6;
}

.donation-flex {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.donation-content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.donation-content__title {
    margin-bottom: 20px;
}

.donation-content__subtitle {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 20px;
}

.donation-content__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.donation-content__card:hover {
    background-color: #FDDCC4;
}

.card-number {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    padding-left: 15px;
}

.donation-content__disclaimer {
    font: italic 12px/18px Arial, sans-serif;
    color: #B2B2B2;
}

@media (max-width: 1279.9px) {
    .donation-flex {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .donation-content__title {
        margin-bottom: 18px;            /*line-height 45px != 130%*/
    }
}

@media (max-width: 767.9px) {
    .donation {
        padding: 42px 0;
    }

    .donation-flex {
        gap: 42px;
    }

    .donation-content {
        max-width: 300px;
        align-items: center;
    }

    .donation-content__title {
        text-align: center;
        margin-bottom: 20px;
    }

    .donation-content__subtitle {
        line-height: 24px;
        letter-spacing: unset;
    }

    .card-number {
        font-size: 15px;
        line-height: 17px;
    }

    .donation-content__disclaimer {
        padding: 0 10px;
        text-align: justify;
    }

    .donation-img {
        max-width: 100%;
        padding: 0 20px;
    }
}

